$transform_rotate-image_preview_spinner: var(--semi-transform_rotate-clockwise360deg); // 预览图像加载spin旋转角度
$transform_scale3d-image_preview_image_img: 1, 1, 1; // 预览图片放大
$transform_rotate-image_preview_image_img: var(--semi-transform-rotate-none); // 预览图片旋转角度

$transition_duration-image_preview_image_img: 0.3s; // 预览图像动画持续时间
$transition_function-image_preview_image_img: cubic-bezier(0.215, 0.61, 0.355, 1); // 预览图片动画函数
$transition_delay-image_preview_image_img: 0s; // 预览图片延迟时间

$transition_duration-image_preview: 500ms; // 预览图片透明度变化动画时间

$transform_rotate-image_preview_icon_rtl: var(--semi-transform_rotate-clockwise180deg); // rtl模式下向前/向后切换图片按钮旋转角度